@{
    ViewData["Title"] = "Home Page";
}
@model List<DFW.Furs.Models.Event>

<!-- REVOLUTION SLIDER -->
<section id="slider" class="fullwidthbanner-container roundedcorners">
    <!--
        Navigation Styles:

            data-navigationStyle="" theme default navigation

            data-navigationStyle="preview1"
            data-navigationStyle="preview2"
            data-navigationStyle="preview3"
            data-navigationStyle="preview4"

        Bottom Shadows
            data-shadow="1"
            data-shadow="2"
            data-shadow="3"

        Slider Height (do not use on fullscreen mode)
            data-height="300"
            data-height="350"
            data-height="400"
            data-height="450"
            data-height="500"
            data-height="550"
            data-height="600"
            data-height="650"
            data-height="700"
            data-height="750"
            data-height="800"
    -->
    <div class="fullscreenbanner" data-navigationStyle="preview4">
        <ul class="hide">

            @*<!-- SLIDE  -->
                <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide title 1" data-thumb="/images/background-images/936242246.jpg">

                    <img src="/images/background-images/936242246.jpg" data-lazyload="/images/background-images/936242246.jpg" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat" />

                    <div class="overlay dark-1"><!-- dark overlay [1 to 9 opacity] --></div>

                    <div class="tp-caption customin ltl tp-resizeme text_white"
                         data-x="center"
                         data-y="180"
                         data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="800"
                         data-start="1000"
                         data-easing="easeOutQuad"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-endeasing="Power4.easeIn" style="z-index: 10;">
                        <span class="fw-300">COME JOIN THE FUN</span>
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme large_bold_white"
                         data-x="center"
                         data-y="230"
                         data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="800"
                         data-start="1200"
                         data-easing="easeOutQuad"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-endeasing="Power4.easeIn" style="z-index: 10;">
                        WELCOME TO SMARTY
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme small_light_white"
                         data-x="center"
                         data-y="350"
                         data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="800"
                         data-start="1400"
                         data-easing="easeOutQuad"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-endeasing="Power4.easeIn" style="z-index: 10; width: 750px; max-width: 750px; white-space: normal; text-align:center;">
                        Fabulas definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii propriae philosophia cu mea.
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme"
                         data-x="center"
                         data-y="438"
                         data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="800"
                         data-start="1550"
                         data-easing="easeOutQuad"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-endeasing="Power4.easeIn" style="z-index: 10;">
                        <a href="#purchase" class="btn btn-default btn-lg">
                            <span>Purchase Smarty Now</span>
                        </a>
                    </div>

                </li>*@

            @*<!-- SLIDE -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide title 2" data-thumb="demo_files/images/video/neuron_thumb.jpg">

                    <img src="assets/images/_smarty/1x1.png" data-lazyload="demo_files/images/video/neuron.jpg" alt="video" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption tp-fade fadeout fullscreenvideo"
                         data-x="0"
                         data-y="0"
                         data-speed="1000"
                         data-start="1100"
                         data-easing="Power4.easeOut"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1500"
                         data-endeasing="Power4.easeIn"
                         data-autoplay="true"
                         data-autoplayonlyfirsttime="false"
                         data-nextslideatend="true"
                         data-volume="mute"
                         data-forceCover="1"
                         data-aspectratio="16:9"
                         data-forcerewind="on" style="z-index: 2;">

                        <div class="overlay dark-4"><!-- dark overlay [1 to 9 opacity] --></div>

                        <video class="fullvideo" preload="none" poster="demo_files/images/video/neuron.jpg">
                            <source src="demo_files/images/video/neuron.webm" type="video/webm" />
                            <source src="demo_files/images/video/neuron.mp4" type="video/mp4" />
                        </video>

                    </div>

                    <div class="tp-caption customin ltl tp-resizeme text_white"
                         data-x="center"
                         data-y="180"
                         data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="800"
                         data-start="1000"
                         data-easing="easeOutQuad"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-endeasing="Power4.easeIn" style="z-index: 3;">
                        <span class="fw-300">YOUR FAVORITE MULTIPURPOSE TEMPLATE</span>
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme large_bold_white"
                         data-x="center"
                         data-y="230"
                         data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="800"
                         data-start="1200"
                         data-easing="easeOutQuad"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-endeasing="Power4.easeIn" style="z-index: 3;">
                        WELCOME TO SMARTY
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme small_light_white"
                         data-x="center"
                         data-y="350"
                         data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="800"
                         data-start="1400"
                         data-easing="easeOutQuad"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-endeasing="Power4.easeIn" style="z-index: 3; width: 750px; max-width: 750px; white-space: normal; text-align:center;">
                        Fabulas definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii propriae philosophia cu mea.
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme"
                         data-x="center"
                         data-y="438"
                         data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="800"
                         data-start="1550"
                         data-easing="easeOutQuad"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-endeasing="Power4.easeIn" style="z-index: 3;">
                        <a href="#purchase" class="btn btn-default btn-lg">
                            <span>Purchase Smarty Now</span>
                        </a>
                    </div>

                </li>*@

            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide title 3" data-thumb="/images/background-images/936242246.jpg">

                <img src="/images/background-images/936242246.jpg" data-lazyload="/images/background-images/936242246.jpg" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat" />

                <div class="overlay dark-4"><!-- dark overlay [1 to 9 opacity] --></div>

                <div class="tp-caption very_large_text lfb ltt tp-resizeme round-font"
                     data-x="center"
                     data-y="center"
                     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="800"
                     data-start="1000"
                     data-easing="easeOutQuad"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn" style="z-index: 10;">
                    <span class="fw-700">COME JOIN THE FUN</span>
                </div>

                @*<div class="tp-caption medium_light_white lfb ltt tp-resizeme"
                           data-x="right" data-hoffset="-100"
                           data-y="center" data-voffset="10"
                           data-speed="600"
                           data-start="900"
                           data-easing="Power4.easeOut"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.01"
                           data-endelementdelay="0.1"
                           data-endspeed="500"
                           data-endeasing="Power4.easeIn">
                        Happiness is an accident of nature,<br />
                        a beautiful and flawless aberration.<br />
                        <span style="font-size:24px;font-weight:400;">&ndash; Pat Conroy</span>
                    </div>*@

            </li>

        </ul>
    </div>


</section>
<!-- /REVOLUTION SLIDER -->
<!-- Connect to the community-->
<section id="connect">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="heading-title heading-border-bottom round-font" style="font-size: 60px !important">

                    CONNECT TO THE COMMUNITY
                </div>

                <p style="color: #9b9b9b !important">Numerous Telegram groups exist for our local community covering a multitude of different topics - ranging from specific meet chats, general chats, and even fitness! Chances are - there's a group for you!</p>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Connect" class="btn btn-default btn-bordered btn-shadow-1">

                    <i class="icon-paperplane"></i>
                    <span>CHAT WITH US</span>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">

                <div>
                    <img class="img-fluid" src="~/images/editor/26287413119-2b57e7d182-k.jpg" alt="">
                    Photo by DJ Higuma
                </div>

            </div>
        </div>
    </div>
</section>
<!-- /Connect to the community-->
<!-- news -->
<section id="news">
    <div class="container">

        <div class="row">
            <!--TODO: make this an ajax request, add models, database -->
            <!-- RIGHT -->
            <div class="col-lg-offset-1 col-lg-8 col-md-9 col-sm-9 order-lg-2 order-md-2 order-sm-2" id="events">

                <h2>Upcoming Events</h2>
                @foreach (var item in Model)
                {
                    <!-- news item -->
                    <div class="inews-item">
                        <a class="inews-thumbnail" href="#">
                            @if (item.Description.FursuitFriendly)
                            {
                                <span class="inews-sticky font-lato">
                                    <i class="fa fa-child"></i>
                                    FURSUIT FRIENDLY
                                </span>
                            }
                            else
                            {
                                <span class="inews-sticky font-lato" style="background-color:red">
                                    <i class="fa fa-frown-o"></i>
                                    NO FURSUITS
                                </span>
                            }
                            @if (item.Description.Photo != null)
                            {
                                <img class="img-fluid" src="~/images/events/@item.Description.Photo" alt="image">
                            }
                            else
                            {
                                <img class="img-fluid" src="demo_files/images/thematics/music/a1-min.jpg" alt="image">
                            }
                        </a>
                        <div class="inews-item-content">

                            <div class="inews-date-wrapper">
                                <span class="inews-date-day">@item.TimeStamp.Day</span>
                                <span class="inews-date-month">@item.TimeStamp.ToString("MMMM")</span>
                                <span class="inews-date-year">@item.TimeStamp.Year</span>
                            </div>

                            <div class="inews-content-inner">

                                <h3 class="fs-20"><a href="#">@item.Description.Title</a></h3>
                                <ul class="blog-post-info list-inline b-0 mb-20 p-0">
                                    <li>
                                        <a href="page-profile.html">
                                            <i class="fa fa-user"></i>
                                            <span class="font-lato">Run by (TODO) @String.Join(",", item.Description.Organizers.Select(x => x.CrewMember.Name))</span>
                                        </a>
                                    </li>
                                    <li>
                                        <i class="fa fa-folder-open-o"></i>
                                        @if (item.Description.Tags != null)
                                        {
                                            @foreach (var tag in item.Description.Tags.Split(','))
                                            {
                                                <a class="category" href="#?tag=@tag.Trim()">
                                                    <span class="font-lato">@tag.Trim()</span>
                                                </a>
                                            }
                                        }
                                    </li>
                                </ul>

                                <h4>@item.Description.Description</h4>
                                <div class="paragraph" style="color:rgb(155, 155, 155)">
                                    <strong style="color:rgb(155, 155, 155)">Admission Cost:&nbsp;</strong>
                                    <span style="color:rgb(155, 155, 155)">
                                        @Html.Raw(item.Description.Cost)
                                    </span><br>
                                    <strong style="color:rgb(155, 155, 155)">​Age Requirement:&nbsp;</strong>
                                    <span style="color:rgb(155, 155, 155)">@item.Description.Age</span><br>
                                    <strong>Average Attendance</strong>: @item.Description.AvgAttendance.<br>
                                    <strong>Duration</strong>: @item.Description.Duration<br>
                                    <strong>Location</strong>: @item.Description.Location

                                </div>

                            </div>


                        </div>
                    </div>
                    <!-- /news item -->


                }

            </div>

            <!-- LEFT -->
            <div class="col-lg-3 col-md-3 col-sm-3 order-lg-1 order-md-1 order-sm-1">
                <h3 class="mt-8">Telegram Feed</h3>
                <ul class="widget-twitter mb-20" id="telegram"></ul>
            </div>

        </div>

    </div>
</section>

<script>
    //TODO: Move to .js file
    $(document).ready(function () {
        //load telegram posts
        $.getJSON("/api/Telegram?channel=DFWEvents&total=3", function (data) {
            $.each(data, function (i, post) {
                var html = createBlock(post);
                $("#telegram").append(html);
            });
        });


    });

    function createBlock(post) {
        var result =
            '<li>' +
            '<i class="fa fa-telegram"></i><span>';
        if (post.postImage !== null) {
            result += '<img src="' + post.postImage + '" style="width:100%" />';
        }
        result += post.text;
        result += '</span><small><a href="https://t.me/s/' + post.id + '" target="_blank">' + new Date(post.timestamp).toLocaleString() + '</a></small>';
        result += '</li>';
        return result;
    };
</script>
<!-- /news -->
